# Flutter/Dart/Pub related
**/doc/api/
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.flutter_tool/
.packages
.pub-cache/
.pub/
build/

# Apple
**/DerivedData/
**/Xcode/SharedPrecompiledHeaders/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace
!default.xcworkspace
*.xccheckout
*.xcscmblueprint
*.hmap
*.ipa
*.app.dSYM.zip
*.app.dSYM
*.appex.dSYM
*.ipa
*.dSYM.zip
*.dSYM
*.dSYM.zip
*.dSYM

# Android
gradle-wrapper.jar
gradle-wrapper.properties
**/.gradle
!**/gradle-wrapper.properties
**/.idea/libraries
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/gradle.xml
**/.idea/dictionaries
**/.idea/vcs.xml
*.iml
**/.gradle/
**/local.properties
**/build/
**/captures/
**/.externalNativeBuild/
.cxx/
gradlew
gradlew.bat
gradle/
*.log
.key

# VSCode
.vscode/

# IDE directories and project files
.idea/
*.iml

# Packages and build directories
**/.pub-cache
**/.dart_tool
